@use "../../../../shared/style/colors" as c;

.NewsSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: c.$white;
}

.SearchBar {
  background: c.$white;
  padding: 10px 15px;
  font-size: 12px;
  border: 1px solid c.$gray-light;
  border-radius: 10px;
  width: 80vw;
  outline: 0;
  color: c.$gray-dark;

  &:focus {
    border-color: c.$black;
    color: c.$black;
  }
}
