@use "../../../../shared/style/colors" as c;

.NewsCategories {
  padding: 10px 40px;
}

.Category {
  &::first-letter {
    text-transform: uppercase;
  }
}

.Skeleton {
  width: 70px;
  height: 25px;
  background-image: linear-gradient(60deg, c.$gray-light, c.$gray-light, c.$white, c.$gray-light, c.$gray-light);
  background-size: 200% 200%;
  border-radius: 5px;
  animation: load 2s ease infinite;
}

@keyframes load {
  0% {
    background-position: 10% 0;
  }
  50% {
    background-position: 90% 100%;
  }
  100% {
    background-position: 10% 0;
  }
}
